<div class="panelcontainer">
  <div class="panel firstpanel" *ngIf="(singleLayoutState | async).active">
    <mat-card class="container" [routerLink]="[(singleLayoutState | async).route]">
      <mat-card-header>
        <mat-card-title class="w-100"><h3 class="w-100">{{ (singleLayoutState | async).title | translate }}</h3></mat-card-title>
      </mat-card-header>

      <mat-card-content class="h-100">
        <layout-preview class="image img-fluid">&nbsp;</layout-preview>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="panel secondpanel" *ngFor="let templateId of (collageLayoutState | async).selectedTemplates">
    <mat-card class="container" [routerLink]="[(collageLayoutState | async).route, templateId]">
      <mat-card-header>
        <!-- todo: let user select layout title -->
        <mat-card-title class="w-100"><h3 class="w-100">{{ templateId || (collageLayoutState | async).title | translate }}</h3></mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <layout-preview class="image img-fluid" [templateId]="templateId">&nbsp;</layout-preview>
      </mat-card-content>
    </mat-card>
  </div>
</div>
