.panel {
  position: absolute;
  width: 30%;
  bottom: 10px;
}
.first {
  left: 10px;
}
.second {
  right: 10px;
}

.container {
  padding-top: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 52px;
  vertical-align: middle;
}
