@import "../../../../styles";

h3 {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: brown;
  font: italic bold 1.8em 'trebuchet MS', Arial, helvetica;
}

.container {
  background-color: $field-background-color;
}

.image {
  padding: 5px;
}
