@import "../../../styles";

.setup-container {
  padding: 15px;
  margin: 15px;
  background-color: $field-background-color;
  width: 80%;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.form-container * {
  width: 100%;
}

.titlewrap {
}

.titlewrap > .left {
  float: left;
}
.titlewrap > .right {
  float: right;
}
