<div class="h-100 w-100 overlay" *ngIf="!currentPhoto" (click)="takePicture()">
</div>

<app-message-stripe *ngIf="!currentPhoto && !countdown.running" class="top-message" [message]="topMessage | translate">
</app-message-stripe>

<app-photo-view *ngIf="currentPhoto"
                [config]="photoviewConfiguration"
                [photoUrl]="currentPhoto"
                class="front">
</app-photo-view>

<app-collage-image
  #imageComponent
  [hidden]="currentPhoto"
  [collageTexts]="(collageState | async).text"
  [templateId]="(collageState | async).templateId"
  (done)="onCollageDone($event)"
  class="front">
</app-collage-image>

<app-message-stripe *ngIf="!currentPhoto && !countdown.running" class="bottom-message front" [message]="bottomMessage | translate"
                    (action)="exit()">
</app-message-stripe>

<app-countdown #countdown class="w-100 h-100"></app-countdown>
