<div class="w-100 h-100 back" (click)="takePicture()">
  <app-message-stripe *ngIf="!photo && !countdown.running" class="top-message" [message]="'LAYOUTS.READY_TAKE_PICTURE' | translate">
  </app-message-stripe>

  <app-photo-view *ngIf="photo"
                  [config]="photoviewConfiguration"
                  [photoUrl]="photo">
  </app-photo-view>

  <app-message-stripe *ngIf="!photo && !countdown.running && (collageLayoutState | async).active"
                      class="bottom-message front" [message]="'LAYOUTS.ABORT' | translate" (action)="exit()">
  </app-message-stripe>

  <app-countdown #countdown class="w-100 h-100"></app-countdown>
</div>
