/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

$background-color: #333;
$field-background-color: #f17d03;
$header-background-color: #3f51b5;

html, body {
  margin: 0;
  padding: 0;

  height: 100%;
}

.full-width {
  width: 100%;
}

mat-form-field {
  width: 100%;
}
